:root {

  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;

  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;

  color: var(--text);

  background: var(--bg);

  font-synthesis: none;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;

}



/* Remove default browser spacing */

*{

  margin:0;

  padding:0;

  box-sizing:border-box;

}



html,
body,
#root{

  width:100%;

  min-height:100%;

}



body{

  margin:0;

}



/* Full screen React container */

#root{

  width:100%;

  max-width:none;

  margin:0;

  padding:0;

  text-align:left;

  border:none;

  min-height:100vh;

  display:flex;

  flex-direction:column;

}



h1,
h2{

  font-family:system-ui, 'Segoe UI', Roboto, sans-serif;

  font-weight:600;

  color:#08060d;

}



p{

  margin:0;

}



button{

  font-family:inherit;

}